body {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.wrapper {
    min-height: 100vh;
    height: 100%;
    width: 50%;
    margin: auto;
    background-image: url(./notebook.png);
    background-repeat: repeat-y;
    padding-left: 8%;
}

button {
    cursor: pointer;
    border-radius: 0;
    border: 1px solid skyblue;
    background-color: white;
}

.tasklist-item {
    list-style: none;
    padding: 0.2em 0;
}

label {
    cursor: pointer;
}

input {
    border-radius: 0;
}

input[type="checkbox"] {
    cursor: pointer;
}

.temp {
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
}

.temp-btns {
    justify-self: end;
}

.filter-btns {
    display: grid;
    width: 90%;
    grid-template-columns: auto auto auto;
    margin-top: 0.7em;
}